# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Environment Secrets
.env
.env.*

# Datasets (Too large for GitHub)
data/

# Serialized Models / ML Artifacts
models/*.pkl
models/*.pth
registry/artifacts/*.pkl
registry/artifacts/*.joblib

# Graphs and Plots
reports/

# IDE / Editor
.vscode/

# OS Files
.DS_Store
Thumbs.db